.phoneList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.phoneListItem {
    border: 1px solid black;
    min-width: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px;
}